
div.wrap {
    width:1000px;
    margin:0px auto;

    align-content: center;
    text-align: center;
}


body
{
    background-color: darkgray;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 0px auto;
    width: 450px;
}

td, th {
    border: 1px solid black;
    height: 100px;
    width: 150px;
    text-align: center;
}

tr {
    background-color: white;
    width: 150px;
}

td:hover {
    background-color: #f5f5f5;
}

